<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sg_cafe?serverTimezone=UTC</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>


		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<property name="hbm2ddl.auto">update</property>

		<mapping resource="ma.jobintech.sgcafe.domaine.BarMan" />
		<mapping resource="ma.jobintech.sgcafe.domaine.Client" />
		<mapping resource="ma.jobintech.sgcafe.domaine.Commande" />
		<mapping resource="ma.jobintech.sgcafe.domaine.Employe" />
		<mapping resource="ma.jobintech.sgcafe.domaine.Gerant" />
		<mapping resource="ma.jobintech.sgcafe.domaine.MachineCafe" />
		<mapping resource="ma.jobintech.sgcafe.domaine.Produit" />
		<mapping resource="ma.jobintech.sgcafe.domaine.Serveur" />
		<mapping resource="ma.jobintech.sgcafe.domaine.TypeProduit" />

	</session-factory>
</hibernate-configuration>